@font-face {
    font-family: 'Glacial Indifference';
    src:
      url('https://nekaneloop.github.io/Folder/GlacialIndifference-Bold') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Glacial Indifference';
    src:
      url('https://nekaneloop.github.io/Glacial/Folder/GlacialIndifference-Regular') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
